@import "../../lib/flextour";

@TextColor: #111111;
@LightBlue: rgba(227,227,227,1);
@DarkerBlue: rgba(217,217,217,1);
@SlightDarkerBlue: rgba(212,212,212,1);
@HeaderColor: #eee;
@SubHeaderColor: #777;
@IconColor: #fed130;
@ThemePrimary: #333333;
@AttributeBackGroundColor: #ffffff;
@SlightlyWhite: #f5f5f5;

body {
  background: @LightBlue;
  background: -moz-linear-gradient(left, @LightBlue 0%, @LightBlue 31%, @SlightDarkerBlue 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, @LightBlue), color-stop(31%, @LightBlue), color-stop(100%, @SlightDarkerBlue));
  background: -webkit-linear-gradient(left, @LightBlue 0%, @LightBlue 31%, @SlightDarkerBlue 100%);
  background: -o-linear-gradient(left, @LightBlue 0%, @LightBlue 31%, @SlightDarkerBlue 100%);
  background: -ms-linear-gradient(left, @LightBlue 0%, @LightBlue 31%, @SlightDarkerBlue 100%);
  background: linear-gradient(to right, @LightBlue 0%, @LightBlue 31%, @SlightDarkerBlue 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#d4d4d4', GradientType=1 );
}

header {
  background-color: @HeaderColor;
  padding-top: 60px;
  text-align: center;
  height: 450px;
  width: 100%;
  color: @TextColor;
  vertical-align: middle;

  .header-content {
    margin-top: 60px;
    padding-bottom: 50px;

    .header-name {
      font-family: "Trebuchet MS", Verdana, sans-serif;
      font-style: italic;
      font-weight: 700;
      font-size: 60px;
      line-height: 50px;
      margin-bottom: 25px;
    }

    .header-subname {
      font-family: "Trebuchet MS", Verdana, sans-serif;
      font-weight: 500;
      font-size: 40px;
      line-height: 30px;
      margin-bottom: 25px;
    }

    .header-button {
      padding-left: 5px;
    }
  }
}

section {
  padding-bottom: 20px;
  text-align: center;

  .section-header {
    margin-bottom: 50px;
  }

  h2.section-heading {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 50px;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 30pt;
  }

  h3.section-subheading {
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: @SubHeaderColor;
    padding-bottom: 50px;
  }

  .desc-heading {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
  }

  .desc-content {
    font-size: 14px;
    line-height: 1.75;
    color: @SubHeaderColor;
  }

  .text-primary {
    color: @IconColor;
  }
}

#desc {
  background-color: @SlightlyWhite;

  .section-header {
    background: url("./img/whatsnew.png");
    background-size: cover;

    h2.section-heading {
      color: black;
    }

    h3.section-subheading {
      color: @TextColor;
    }
  }

  .feature-icon {
    height: 1em;
    line-height: 1em;
  }

  .well {
    background-color: #737373;
    color: #FFFFFF;
  }
}

#attributes {
  background-color: @AttributeBackGroundColor;
  .section-header {
    background: url("./img/gear.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    h2.section-heading {
      color: black;
    }

    h3.section-subheading {
      color: @TextColor;
    }
  }

  .row {
    display: flex;
  }
  .attributes-block {
    flex: 1;
    padding-right: 0;
    padding-left: 0;
    margin: 10px 5px 10px 5px;
    background-color: #f2f2f2;

    h4 {
      color: #dadada;
      padding-top: 0;
      font-weight: 400;
    }

    h5 {
      color: #dadada;
      font-size: 14px;
    }
  }

  .attribute-title {
    background: #2b2b2b;
    color: @SlightlyWhite;
  }

  .attributes-content {
    padding-top: 12px;
    font-size: 10pt;
    margin-bottom: 10px;
    h4 {
      color: @TextColor;
    }
  }

  .link {
    .demo-button {
      margin-right: 20px;
    }
  }
}

#wiki {
  background-color: #FFFFFF;
  .section-header {
    background: url("./img/info.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    h2.section-heading {
      color: black;
    }

    h3.section-subheading {
      color: @TextColor;
    }
  }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: #777777;
    color: @SlightlyWhite;
  }

  .wiki-tab-header {
    font-size: 14pt;
  }

  .attr-title {
    background-color: #c8c8c8;
    color: @TextColor;
    font-size: 12pt;
  }

  .attr-desc {
    font-size: 12pt;
  }

  .attributes-block-api {
    padding-top: 20px;
    text-align: left;
  }
}

.params-text {
  color: @SubHeaderColor;
}

@media(min-width:768px) {
}

@media(min-width:992px) {
}

@media(min-width:1200px) {
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 2.25s linear;
  -moz-transition: opacity 2.25s linear;
  -ms-transition: opacity 2.25s linear;
  -o-transition: opacity 2.25s linear;
  transition: opacity 2.25s linear;
}

